{% extends 'dashboard.html' %}

{% block content %}
<br>
<div class="container">
    <h1>File Upload</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="">Chosse files</label>
            <input type="file" name="file" id=" " accept=".jpg,.png,.pdf,.jpeg,.py,.txt,.docx,.doc" multiple
                required>
        </div>
        <div class="form-group">
            <input type="submit" value="Upload">
        </div>
    </form>
</div>
 {% endblock %}