{% extends 'dashboard.html' %}
<title>Add NOtes</title>
{ % block addcss %}

{% block content %}

<div class="container">
    <form method="POST">
    <label for="title">title</label>
    <input type="text" placeholder="" name="title" id="titleField" value="{{notesdata[1]}}"><br>

    <label for="contentField">contentField</label>
    <textarea type="text" placeholder="" class="content-field" name="content"
        id="contentField">{{notesdata[2]}}</textarea>
    <input type="submit" value="submit">
    </form>
</div>
{% endblock %}