<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #4CAF50;
            color: #fff;
            cursor: pointer;
        }
        
        button:hover {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>
    <center>
        <h2>Welcome</h2>
        <a href="{{url_for('create')}}"><button>Create</button></a>
        <a href="{{url_for('login')}}"><button>Login</button></a>
    </center>
</body>
</html>